article {
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    left: 12vw;
    right: 0;
    margin: 0 auto;
    width: calc(100vw - 12vw);

}

article > h2 {
    font-size: 250%;
    
    padding-left: 1vw;
}

.content {
    padding-left: 3vw;
    padding-right: 5vw;
}