/* .header & FOOTER */
.edge {
    background-color: #CDAE32;


}

h1 {
    color: #FEFEFE;
    text-align: center;
}

.article {
    background-image: url(../imagenes/Gato.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;

}

.color-overlay {
    position: absolute;

}

/* NAV bar */
.nav {
    background-color: #F5F5DD;
    text-align: center;
}
