/* .header & FOOTER */
.header {
    background-color: #CDAE32;    
}

h1 {
    color: #FEFEFE;
}

.article {
    background-image: url(../imagenes/Gato.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}


/* NAV bar */
.nav {
    background-color: #F5F5DD;
    min-height: 100vh;
}